{% extends "base.html" %}


{% block content %}

	{% if form %}
	<form method="post">
		{{ form.as_p }}
		<input type="submit" value="Submit">
	</form>
	{% endif %}


    {% if message %}
	'{{message|safe}}'
	{% endif %}

    {% if text %}
	{{text|safe}}
	{% endif %}

    {% if formset %}
		{% for form in formset %}
		<h6>Form</h6>
		 {{form.as_table}}
		{% endfor %}
	{% endif %}



	{% if content %}

	{% for GroupQuest in content %}
	<div class="group">
		<div class="headerGroup">{{GroupQuest.name}} - {{GroupQuest.id}}</div>
				<table class="mainTable">
					{% for quest in GroupQuest.quests %}
					<tr class="rowQuest" style="background-color: rgb({{quest.back_red}},{{quest.back_green}},{{quest.back_blue}});color:rgb({{quest.red}},{{quest.green}},{{quest.blue}});">
						<td>{{quest.pk}} </td>
						<td>{{quest.name}} </td>
						<td>{{quest.period|date:'Y-m-d H:i'}}  </td>
						<td>{{quest.state}}  </td>
					</tr>
					<tr>

					<td></td>
					<td></td>
					<td colspan="2">

					<table>
						{% for history in quest.history %}
							<tr><td>{{history.period|date:'Y-m-d H:i'}}</td><td>{{history.state}}</td></tr>
						{% endfor %}
					</table>
					</td>

					</tr>

					{% endfor %}
				</table>

	</div>
	{% endfor %}


	{% endif %}
{% endblock %}





